[submodule "extern/sundials"]
	path = extern/sundials
	url = https://github.com/LLNL/sundials.git
[submodule "cpp_tests/googletest"]
	path = cpp_tests/googletest
	url = https://github.com/google/googletest.git
