name: CMake

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  linux:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: conda-incubator/setup-miniconda@v2
        with:
          installer-url: https://repo.anaconda.com/miniconda/Miniconda3-py39_23.11.0-2-Linux-x86_64.sh
          activate-environment: test
          python-version: 3.9
          channels: conda-forge
          auto-activate-base: false
      - name: Install python dependencies
        run: |
          conda install -y numpy scipy matplotlib networkx cython=0.29.36
          conda install -y -c conda-forge sqlalchemy=1.4.51 munkres pyro4 scikit-sparse
          pip install pytest future pyyaml omp-thread-count

      - name: Update apt
        run: sudo apt-get update
      # installing gcc-12 since it's available on ubuntu 22.04
      - name: Use gcc-12/g++-12
        run: |
          sudo apt-get install -y gcc-12 g++-12 gfortran-12
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-12 100
          sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-12 100
          sudo update-alternatives --install /usr/bin/gfortran gfortran /usr/bin/gfortran-12 100

      # gets gtest
      - name: Get submodules
        run: git submodule update --init --recursive

      - name: Install dependencies
        run: |
          sudo apt-get install -y libblas-dev liblapack-dev liblapacke-dev
          sudo apt-get install -y cmake
      # todo change this with only installing CVODE
      - name: Install sundials
        run: |
          cd extern
          chmod +x sun_inst.sh
          ./sun_inst.sh Debug
          cd ..
      - name: Install Eigen
        run: |
          cd extern
          cp -r eigen/Eigen install/include
      - name: Build C++ tests
        # Build your program with the given configuration
        run: |
          cd cpp_tests/source 
          cmake -DCMAKE_BUILD_TYPE=Debug .
          make -j4
      - name: Run C++ tests
        run: |
          cd cpp_tests/source
          ./test_main
      - name: Compile python library
        run: |
          python setup_with_cmake.py build_ext -i
      - name: Run python tests
        run: |
          export OMP_NUM_THREADS=1
          pytest pele/

  mac:
    runs-on: macos-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install homebrew
        uses: Homebrew/actions/setup-homebrew@master
      - name: Install software and libraries
        run: brew install gcc@13 cmake openblas gettext
      - uses: conda-incubator/setup-miniconda@v2
        with:
          installer-url: https://repo.anaconda.com/miniconda/Miniconda3-py39_23.11.0-2-MacOSX-x86_64.sh
          activate-environment: test
          python-version: 3.9
          channels: conda-forge
          auto-activate-base: false
      - name: Install python dependencies
        run: |
          conda install -y numpy scipy matplotlib networkx cython=0.29.36
          conda install -y -c conda-forge sqlalchemy=1.4.51 munkres pyro4 scikit-sparse
          CC=gcc-13 pip install omp-thread-count
          pip install pytest future pyyaml
      # gets gtest
      - name: Get submodules
        run: git submodule update --init --recursive
      - name: Install sundials
        run: |
          cd extern
          chmod +x sun_inst.sh
          MACOSX_DEPLOYMENT_TARGET=12.0 CC=gcc-13 CXX=g++-13 ./sun_inst.sh Debug
          cd ..
      - name: Install Eigen
        run: |
          cd extern
          cp -r eigen/Eigen install/include
      - name: Build C++ tests
        # Build your program with the given configuration
        run: |
          cd cpp_tests/source
          cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_C_COMPILER=gcc-13 -DCMAKE_CXX_COMPILER=g++-13 -DCMAKE_PREFIX_PATH=$(brew --prefix openblas) .
          make -j4
      - name: Run C++ tests
        run: |
          cd cpp_tests/source
          ./test_main
      - name: Compile python library
        run: |
          MACOSX_DEPLOYMENT_TARGET=12.0 python setup_with_cmake.py build_ext -i
      - name: Run python tests
        run: |
          OMP_NUM_THREADS=1 pytest pele/
